{% extends 'layout_base.html.twig' %}

{% block title %}{{ "craftsman.title"|trans }}{% endblock %}
{% block description %}{{ "craftsman.description"|trans }}{% endblock %}

{% trans_default_domain "share" %}

{% block content %}
    <div id="share-craftsman">

    </div>
{% endblock %}