{% block edit_profile_widget %}
    <p class="alert alert-info">Name & Telefonnummer werden einzig zur Korrespondenz mit den Unternehmern genutzt. Die Angabe ist freiwillig.</p>
    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(form.givenName) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.familyName) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.phone) }}
        </div>
    </div>
{% endblock %}
