{% block edit_profile_widget %}
    <p class="alert alert-info">{{ "trait.name_and_email_optional"|trans({}, "trait_user") }}</p>
    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(form.givenName) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.familyName) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.phone) }}
        </div>
    </div>
{% endblock %}
