{% extends '_base.html.twig' %}

{% block content %}
    <section class="center-wrapper">
        <div class="center-content {% if wide is defined %}wide{% endif %}">
            <div class="center-content-primary shadow">
                <h1>{{ block("title") }}</h1>

                <p class="text-secondary">
                    {{ block("description") }}
                </p>

                {% block form_content %}
                    <div class="form-wrapper">
                        {{ form(form) }}
                    </div>
                {% endblock %}
            </div>
            <div class="center-content-secondary">
                {% block secondary_content %}
                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}
