{% extends 'admin_layout.html.twig' %}

{% block title %}{{ "edit.title"|trans }}{% endblock %}
{% block description %}{{ "edit.description"|trans }}{% endblock %}

{% trans_default_domain "edit" %}

{% block admin_content %}
    <div id="edit"></div>
{% endblock %}