{% extends "public_layout.html.twig" %}

{% block title %}{{ "switch.title"|trans }}{% endblock %}
{% block description %}{{ "switch.description"|trans }}{% endblock %}

{% trans_default_domain "switch" %}

{% block public_content %}
    <div id="switch">

    </div>
{% endblock %}