{% extends 'layout_base.html.twig' %}

{% block content %}
    <section class="login">
        <div class="login-center">
            <div class="login-content shadow">
                <h1>{{ block("title") }}</h1>

                <p class="text-secondary">
                    {% if message is defined %}{{ message }}
                    {% else %}
                        {{ block("description") }}
                    {% endif %}
                </p>
                {% block form_content %}
                    <div class="form-wrapper">
                        {{ form(form) }}
                    </div>
                {% endblock %}
            </div>
            <div class="login-secondary">
                {% block secondary_content %}
                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}