{% extends 'layout_base.html.twig' %}

{% block content %}
    <section class="content">
        <div class="container index-container white-color">
            <h1>{{ block("title") }}</h1>
            <h2>{% block description %}{% endblock %}</h2>
        </div>

        <div class="container shadow">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    {% block form_content %}
                        {{ form(form) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}