{% extends 'layout_base.html.twig' %}

{% block content %}
    <section class="login">
        <div class="login-content">
            <h1>{{ block("title") }}</h1>
            {% if message is defined %}
                <p>{{ message }}</p>
            {% else %}
                <p>{{ block("description") }}</p>
            {% endif %}
            {% block form_content %}
                {{ form(form) }}
            {% endblock %}
        </div>
    </section>
{% endblock %}