$border-radius: 0;
$primary: #343477;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';
@import '~noty/src/noty';
@import '~noty/src/themes/bootstrap-v4';

html,
body {
  height: 100%;
}

//center layout for messages & easy forms
.center-wrapper {
  align-items: center;
  background: $gray-100;
  display: flex;
  min-height: 100%;
}

.center-content {
  margin: 40px auto;
  max-width: 540px;
  width: 100%;
}

.center-content.wide {
  max-width: 700px;
}

.center-content-primary {
  background: $white;
  padding: 2rem 2rem 1rem;

  > *:last-child {
    margin-bottom: 0;
  }
}

.center-content-secondary {
  padding: 1rem 2rem;
}

.col-form-label {
  font-weight: bold;
}
