$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$modal-backdrop-opacity: 0.3;
$primary: #343477;
$primary-200: #eaecef;

@import '~bootstrap/scss/bootstrap';
@import '~noty/src/noty';
@import '~noty/src/themes/bootstrap-v4';
@import '~flatpickr/dist/flatpickr.css';
@import 'dropzone';
@import 'toggle';

html,
body {
  height: 100%;
}

//center layout for messages & easy forms
.center-wrapper {
  align-items: center;
  background: $gray-100;
  display: flex;
  min-height: 100%;
}

.center-content {
  margin: 40px auto;
  max-width: 540px;
  width: 100%;
}

.center-content.wide {
  max-width: 700px;
}

.center-content-primary {
  background: $white;
  padding: 2rem 2rem 1rem;

  > *:last-child {
    margin-bottom: 0;
  }
}

.center-content-secondary {
  padding: 1rem 2rem;
}

.col-form-label {
  font-weight: bold;
}

.w-minimal {
  white-space: nowrap;
  width: 1%;
}

.pre {
  white-space: pre;
}

.bg-light-gray {
  background: $primary-200;
}

.clickable {
  cursor: pointer;
}

input:required,
textarea:required,
select:required {
  box-shadow: none;
}
