$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$modal-backdrop-opacity: 0.3;
$primary: #343477;
$orange: #fd7e14;
$theme-colors: (
  'orange': $orange
);
$yiq-contrasted-threshold: 160;
$primary-200: #eaecef;
$custom-control-cursor: pointer;

@import '~bootstrap/scss/bootstrap';
@import '~noty/src/noty';
@import '~noty/src/themes/bootstrap-v4';
@import '~flatpickr/dist/flatpickr.css';
@import '~chart.js/dist/Chart.css';

@import 'bootstrap-responsive';
@import 'dropzone';
@import 'lightbox';
@import 'popover';
@import 'toggle';

html,
body {
  height: 100%;
}

//center layout for messages & easy forms
.center-wrapper {
  align-items: center;
  background: $gray-100;
  display: flex;
  min-height: 100%;
}

.center-content {
  margin: 40px auto;
  max-width: 540px;
  width: 100%;
}

.center-content.wide {
  max-width: 700px;
}

.center-content-primary {
  background: $white;
  padding: 2rem 2rem 1rem;

  > *:last-child {
    margin-bottom: 0;
  }
}

.center-content-secondary {
  padding: 1rem 2rem;
}

.col-form-label {
  font-weight: bold;
}

.w-minimal {
  white-space: nowrap;
  width: 1%;
}

.h-btn {
  height: calc(2em + 2px);
}

.pre {
  white-space: pre;
}

.bg-light-gray {
  background: $primary-200;
}

.clickable {
  cursor: pointer;
}

.cursor-normal {
  cursor: default;
}

input:required,
textarea:required,
select:required {
  box-shadow: none;
}

.caption-top {
  caption-side: top;
}

.nav-link {
  cursor: pointer;
}

.nav-link.active {
  cursor: default;
}

.white-space-pre-line {
  white-space: pre-line;
}

.text-line-height-0 {
  line-height: 0;
}

.text-sm {
  font-size: 0.625em;
}

.w-40 {
  width: 40%;
}

.w-thumbnail {
  width: calc(100px + 1.5rem);
}
