$primary-color: #009fe3;
$body-background: #f3f3f3;
$container-background: $body-background;

$body-font-family: 'Source Sans Pro', helvetica, arial, sans-serif !default;

@import '~foundation-emails/scss/foundation-emails';

.logo {
  max-width: 40px;
  width: 40px;
}

.bg-white {
  background-color: #fff;
}

.secondary-content {
  opacity: 0.6;
}
