.lightbox-thumbnail {
  vertical-align: top;
}

.lightbox-thumbnail > img {
  border: 1px solid $gray-400;
  max-height: 100%;
}

.lightbox {
  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;

  /* display it */
  display: block;
  left: 0;

  /* A bit of padding around image */
  padding: 1em;

  /* Overlay entire screen */
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 999;
}

.lightbox .sizer {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.lightbox .close-wrapper {
  background: #fff;
  border-color: #000;
  border-style: solid;
  border-width: 0 0 1px 1px;
  opacity: 0.8;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

.lightbox img {
  margin: 0 auto;
  max-height: 100%;

  /* Full width and height */
  max-width: 100%;
  vertical-align: middle;
}
