{% extends 'admin_layout.html.twig' %}

{% block title %}{{ "register.title"|trans }}{% endblock %}
{% block description %}{{ "register.description"|trans }}{% endblock %}

{% trans_default_domain "register" %}

{% block admin_content %}
    <div id="register"></div>
{% endblock %}