{% extends 'layout_base.html.twig' %}

{% block content %}
    <section class="center-wrapper">
        <div class="center-content">
            <div class="center-content-primary shadow">
                <h1>{{ block("title") }}</h1>
                {% block primary_content %}
                {% endblock %}
            </div>
            <div class="center-content-secondary">
                {% block secondary_content %}
                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}