{% extends "_navbar_layout.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}

{% block navbar_content %}
    <div class="container-fluid pt-3">
        <div id="switch">
        </div>
    </div>
{% endblock %}
