{% extends "base.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}

{% block content %}
    <div class="container-fluid">
        <div id="index">

        </div>
    </div>
{% endblock %}
