{% extends 'layout_base.html.twig' %}
{% import "widgets/breadcrumb.html.twig" as breadcrumb %}

{% block content %}
    <section class="content">
        {% if breadcrumbs is defined %}
            {{ breadcrumb.breadcrumbs(breadcrumbs, app.request, block("title")) }}
        {% endif %}
        <div class="container index-container default-color">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ block("title") }}</h1>
                    <h2>{% block description %}{% endblock %}</h2>
                    {% block single_content %}
                    {% endblock single_content %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}