{% extends 'admin_layout.html.twig' %}

{% block title %}{{ "dispatch.title"|trans }}{% endblock %}
{% block description %}{{ "dispatch.description"|trans }}{% endblock %}

{% trans_default_domain "dispatch" %}

{% block admin_content %}
    <div id="dispatch"></div>
{% endblock %}