{% trans_default_domain "help" %}

<article class="connect-app">
    <p>{{ "connect_app.description"|trans({}, "help") }}</p>

    <div class="row mb-4 mt-2">
        <div class="col-6">
            <a href="https://itunes.apple.com/app/id1414077195" target="_blank">
                <img src="{{ asset('build/images/connect_app/app_store_download.svg') }}"
                     alt="{{ "connect_app.download_ios_app"|trans }}">
            </a>
        </div>
    </div>

    <div class="p-2 bg-light-gray text-center">
        <p class="mb-2">{{ "connect_app.activation_code"|trans }}</p>
        <canvas id="authentication-token-canvas">

        </canvas>
    </div>
</article>
