{% extends "single_content_base.html.twig" %}
{% import "widgets/breadcrumb.html.twig" as breadcrumb %}

{% block title %}{{ "remove.title"|trans }}{% endblock %}
{% block description %}{{ craftsman.name }}{% endblock %}

{% trans_default_domain "frontend_craftsman" %}

{% block single_content %}
    <p>
        {{ "remove.confirmation"|trans({'%identifier%': craftsman.name}) }}
    </p>
    {{ form(form) }}
{% endblock %}