{% extends 'admin_layout.html.twig' %}

{% block title %}{{ "dashboard.title"|trans }}{% endblock %}
{% block description %}{{ "dashboard.description"|trans }}{% endblock %}

{% trans_default_domain "dashboard" %}

{% block admin_content %}
    <div id="dashboard">

    </div>
{% endblock %}