{% extends "_base.html.twig" %}

{% block layout %}
    <div class="container-fluid p-2 p-md-3 p-xl-4">
        <p class="lead text-secondary mb-4">{{ block("description") }}</p>

        <div id="{{ application_name }}">
        </div>
    </div>
{% endblock %}
