.error-image
  position: relative
  margin: auto
  bottom: -1rem
  background-size: contain
  background-repeat: no-repeat
  background-position-y: bottom

.image-404-error
  background-image: url("../../images/404.gif")
  height: 200px
