{% extends "help/help_content_layout.html.twig" %}

{% block title %}{{ "overview.title"|trans }}{% endblock %}
{% block description %}{{ "overview.description"|trans }}{% endblock %}

{% trans_default_domain "help" %}

{% block help_content %}
    {% include "help/overview_content.html.twig" %}
    <p>
        <a class="btn btn-primary mt-5 mb-3" href="{{ path("switch") }}">
            {{ "overview.start"|trans }}
        </a>
    </p>
{% endblock %}
