{% trans_default_domain "email" %}
{% apply inky_to_html|inline_css(encore_entry_css_source('email')) %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="https://www.w3.org/1999/xhtml">
    <head>
        <!-- The character set should be utf-8 -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width" />
    </head>

    <body>

    <body>
    <!-- Wrapper for the body of the email -->
    <table class="body" data-made-with-foundation>
        <tr>
            <!-- The class, align, and <center> tag center the container -->
            <td class="float-center" align="center" valign="top">
                <center>
                    {% apply inky_to_html %}
                        <spacer size="20"></spacer>
                        <center>
                            <img class="logo" src="{{ email.image('@images/logo.png') }}" alt="Logo">
                        </center>
                        <spacer size="20"></spacer>
                        <container>
                            <row class="bg-white">
                                <columns small="12" large="12">
                                    <spacer size="20"></spacer>
                                    {% block body %}

                                    {% endblock %}
                                </columns>
                            </row>
                            <row class="secondary-content">
                                <columns small="12" large="12">
                                    <spacer size="20"></spacer>

                                    <p class="text-center">
                                        {% include "email/_email_meta_content.html.twig" %}
                                    </p>
                                </columns>
                            </row>
                        </container>
                    {% endapply %}
                </center>
            </td>
        </tr>
    </table>
    </body>
    </html>
{% endapply %}
