{% extends 'base.html.twig' %}

{% block content %}
    <section class="center-wrapper">
        <div class="center-content">
            <div class="center-content-primary shadow">
                {% include 'email/recover_confirm.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}
