{% extends "email/_base.html.twig" %}

{% trans_default_domain "email" %}

{% block body %}
    <p>{{ body|nl2br }}</p>
    {% if action_link is defined %}
        <center>
            <button href="{{ action_link }}">
                {{ action_text }}
            </button>
        </center>
    {% endif %}
{% endblock %}
