{% extends "email/_base.txt.twig" %}

{% trans_default_domain "email" %}

{% block body %}
    <p>{{ body|nl2br  }}</p>
    <spacer size="15"></spacer>
    <center>
        <button href="{{ absolute_url(link) }}">
            {{ "craftsman_issue_reminder.view_issues_link"|trans }}
        </button>
    </center>
{% endblock %}
