{% extends "email/email_base.html.twig" %}
{% trans_default_domain "email" %}

{% block content %}
    <p>{{ email.body|nl2br }}</p>
    {% if email.actionLink != null %}
        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
            <tbody>
            <tr>
                <td align="left">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td>
                                <a href="{{ email.actionLink }}" target="_blank">
                                    {{ email.actionText }}
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}
    <p>
        {{ "generated"|trans }}
    </p>
{% endblock %}
