{# fix encore server as soon as 24.4 released https://symfony.com/doc/master/frontend/encore/dev-server.html #}
{# ensure encore server writes to disk in dev-server mode #}
{# then redifine css source to use encore output in public/build #}
{# remove css compile task from precommit hook in composer.json #}
{% apply inline_css(source('@css/email.css')) %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="https://www.w3.org/1999/xhtml">
    <head>
        <!-- The character set should be utf-8 -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width"/>
    </head>

    <body>
    <!-- Wrapper for the body of the email -->
    <table class="body" data-made-with-foundation>
        <tr>
            <!-- The class, align, and <center> tag center the container -->
            <td class="float-center" align="center" valign="top">
                <center>
                    {% include "email/newsletter_content.html.twig" with {'logo_src': email.image('@images/logo.png')} %}
                </center>
            </td>
        </tr>
    </table>
    </body>
    </html>
{% endapply %}
