{% extends 'base.html.twig' %}

{% block content %}
    <section class="center-wrapper">
        <div class="center-content">
            <div class="center-content-primary shadow">
                {% include 'email/content.html.twig' with {'logo_src':'@images/logo.png'} %}
            </div>
        </div>
    </section>
{% endblock %}
